<div id="navigation"></div>

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-small uk-width-expand">
            <div class="uk-card-header">
                <h3 id="dashboard-header" class="uk-card-title"></h3>
            </div>
            <div class="uk-card-body">
                <div id="product-list-error"></div>
                <table class="uk-table uk-table-small uk-table-justify  uk-table-divider">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Barcode</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="dashboard-product-lists"></tbody>
                </table>                        
            </div>
        </div>
    </div>
</div>

<!-- This is the modal delete -->
<div id="dashboard-delete-product" uk-modal>
    <div class="uk-modal-dialog">
        <form id="delete-confirmation">
            <div class="uk-modal-header uk-padding-small">
                <h2 class="uk-modal-title uk-margin-remove">Delete confirmation</h2>
                <input type="hidden" name="product-id" id="delete-product-id" />
            </div>
            <div class="uk-modal-body uk-padding-small">
                <p id="confirmation-delete"></p>
            </div>
            <div class="uk-modal-footer uk-text-right uk-padding-small">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>