<div id="navigation"></div>

<form id="product-form">
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-card uk-card-default uk-card-small uk-width-expand">
                <div class="uk-card-header">
                    <h3 id="product-header" class="uk-card-title"></h3>
                </div>
                <div class="uk-card-body">
                    <div id="product-alert"></div>

                    <div class="uk-margin">
                        <div id="product-name-inline" class="uk-inline uk-width-expand">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: file-edit"></span>
                            <input id="product-name-input" class="uk-input" type="text" aria-label="Not clickable icon" placeholder="Product Name">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div id="product-barcode-inline" class="uk-inline uk-width-expand">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: file-text"></span>
                            <input id="product-barcode-input" class="uk-input" type="text" aria-label="Not clickable icon" placeholder="Barcode">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div id="product-stock-inline" class="uk-inline uk-width-expand">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: cart"></span>
                            <input id="product-stock-input" class="uk-input" type="number" aria-label="Not clickable icon" placeholder="Stock">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div id="product-price-inline" class="uk-inline uk-width-expand">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: tag"></span>
                            <input id="product-price-input" class="uk-input" type="number" aria-label="Not clickable icon" placeholder="Price">
                        </div>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <div class="uk-margin">
                        <button id="product-submit-button" class="uk-button uk-button-primary" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
